

<% if current_user.admin == true %>

  <div class="form-container">
    <%= simple_form_for @post do |f, c| %>
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:" %>
          </h2>
          <ul>
            <% @post.errors.full_messages.each do |msg| %>
              <li>
                <%= msg %>
              </li>
              <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.input :title, label: "Título", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.input :subtitle, label: "Subtítulo", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.association :category, as: :select, label_method: :tag %>
      </div>

      <div class="form-group">
        <%= f.input :photo, label: "Foto de capa", as: :file, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.rich_text_area :rich_body, label: "Texto interno do post" %>
      </div>

      <div class="form-group">
        <%= f.button :submit, "Enviar", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

<% end %>
