<div class="container">
  <div class="col-xs-12 blog-content">
    <% @posts.each do |post| %>
      <div class="post">

        <!-- If photo is attached, show it -->
        <% if post.photo.attached? %>
          <div>
          <%= cl_image_tag post.photo.key, height: 300, width: 400, crop: :fill %>
          </div>
        <% end %>

        <!-- Date and delete/edit buttons (if logged in) -->
        <div class="d-flex align-items-center">
          <small><%= post.created_at.strftime('%b %d, %Y') %></small>
          <% if user_signed_in? %>
            <%= link_to "<i class='far fa-edit'></i>".html_safe, edit_post_path(post), class: "btn btn-default list-inline" %>
            <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, post_path(post), class: "btn btn-default list-inline", data: {:confirm => "Are you sure?"}, method: :delete %>
          <% end %>
        </div>

        <!-- Link everything to post#show -->
          <div class="no-decoration">
            <%= link_to post_path(post) do  %>

            <!-- Title and subtitle -->
            <h1 class="home-post-title"><%= post.title %></h2>
            <h2 class="home-post-subtitle"><%= post.subtitle %></h3>

          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
