<% content_for :meta_title, "Alla Breve | #{@post.title}" %>
<% content_for :meta_description, @post.subtitle %>
<% content_for :meta_image, cl_image_path(@post.photo.path) %>

<div class="col-sm-11 col-xs-12 blog-content">
  <% if @post.photo.attached? %>
    <div>
    <%= cl_image_tag @post.photo.key, title: @post.title, class: "home-post-image", aspect_ratio: "16:9", crop: :thumb %>
    </div>
  <% end %>
  <div class="d-flex align-items-center">
    <small><%= @post.created_at.strftime('%b %d, %Y') %></small>
    <% if !current_user.nil? %>
      <% if current_user.admin? %>
        <%= link_to "<i class='far fa-edit'></i>".html_safe, edit_post_path(@post), class: "btn btn-default list-inline" %>
        <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, post_path(@post), class: "btn btn-default list-inline", data: {:confirm => "Olha lá! Vai deletar mesmo?"}, method: :delete %>
      <% end %>
    <% end %>
  </div>
  <h1 class="post-title"><%= @post.title %></h1>
  <h2 class="post-subtitle"><%= @post.subtitle %></h2>
  <div><%= @post.rich_body %></div>
</div>
